@charset "utf-8";
/* Font */
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src:
      local("Pretendard Black"),
      url("../fonts/Pretendard-Black.woff2") format("woff2"),
      url("../fonts/Pretendard-Black.woff") format("woff"),
      url("../fonts/Pretendard-Black.otf") format("opentype"),
      url("../fonts/Pretendard-Black.ttf") format("truetype");
}
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src:
      local("Pretendard Bold"),
      url("../fonts/Pretendard-Bold.woff2") format("woff2"),
      url("../fonts/Pretendard-Bold.woff") format("woff"),
      url("../fonts/Pretendard-Bold.otf") format("opentype"),
      url("../fonts/Pretendard-Bold.ttf") format("truetype");
}
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src:
      local("Pretendard SemiBold"),
      url("../fonts/Pretendard-SemiBold.woff2") format("woff2"),
      url("../fonts/Pretendard-SemiBold.woff") format("woff"),
      url("../fonts/Pretendard-SemiBold.otf") format("opentype"),
      url("../fonts/Pretendard-SemiBold.ttf") format("truetype");
}
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src:
      local("Pretendard Regular"),
      url("../fonts/Pretendard-Regular.woff2") format("woff2"),
      url("../fonts/Pretendard-Regular.woff") format("woff"),
      url("../fonts/Pretendard-Regular.otf") format("opentype"),
      url("../fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Paperlogy-7Bold';
  font-weight: 800;
  src:
    url("../fonts/Paperlogy-7Bold.woff2") format('woff2'),
    url("../fonts/Paperlogy-7Bold.woff") format('woff');
}

/* Reset */
html,body{height:100%;}
body {position:relative;background-color:#fff;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-moz-osx-font-smoothing:grayscale;color:#000;}
body::before{position:fixed;left:0;top:0;width:100%;height:0;content:'';}/* fix webkit bug(scroll event delay) */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,iframe,th,td,a,select,input,textarea{margin:0;padding:0;font-family:'Pretendard', 'Malgun Gothic', '맑은 고딕', "돋움", sans-serif;font-weight:500;line-height:1.4;font-size:inherit;box-sizing:border-box}
var {font-style:normal;}
article,aside,details,figcaption,figure,footer,header,nav,section,summary,main{display:block;margin:0;padding:0;}
img,fieldset,iframe{border:0;}
li{list-style:none;}
button{overflow:visible;border:0;color:inherit;line-height:inherit;background:#fff;cursor:pointer;}
table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:100%;}
hr{display:none;}
legend{position:absolute; left:-9999px; top:0}
.sr_only, caption {position:absolute; top:-9999px; font-size:0; height:0;}
select, input, textarea{color:#000;border-radius:0;border:0;-webkit-appearance:none;}
i, em, u, cite {font-style:normal;}
strong{font-weight:700;}
b{font-weight:400;}
img{max-width:100%;border:0;vertical-align:middle;}
a{color:#000;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
address{font-style:normal;}
textarea{overflow-y:auto;resize:none;display:block} 
input::-webkit-input-placeholder{color:#AAA !important;}
input:-ms-input-placeholder{color:#AAA !important;}
textarea::-webkit-input-placeholder{color:#AAA !important;}
textarea:-ms-input-placeholder{color:#AAA !important;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ -webkit-appearance:none;margin:0;}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator{
    opacity:0;
    -webkit-appearance:none;
} 
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
::selection {
  background: #00FF00;
}
.header a::selection {background:#FF00FF}
.bg_black .header a::selection {background:#00FF00}

/* common */
body {overflow-x:hidden;position:relative}
body.bg_black {background:#000}
.layer_activated {overflow:hidden}
.container {position:relative;padding-top:64px}
/* .wrap, .container {height:100%;box-sizing:border-box} */

/* header */
.header {position:fixed;top:0;left:0;z-index:1000;width:100%;height:64px;transform:translateY(-100%);mix-blend-mode: difference;}
.header .inner {position:relative;padding:0 20px}
.header .logo {width:110px;height:64px;}
.header .logo a {display:block;height:100%;background:url(../images/common/logo_white.svg) no-repeat 50% 50% / 110px 22px;text-indent: -9999px;}
.header .nav {position:absolute;top:0;right:20px;height:64px}
.header .nav .navbar {display:flex;gap:32px;height:100%}
.header .nav .navbar li {height:100%}
.header .nav .navbar li a {display:flex;align-items:center;height:100%;font-size:14px;font-weight:700;line-height:20px;color:#fff;letter-spacing:-.28px;}

body.loaded .header {transform: translateY(0);transition:transform .4s linear 3.5s}

/* footer */
.footer {margin-top:120px}
.footer .inner {padding:32px 4vw}
.footer .f_top {display:flex;flex-direction: column;gap:40px}
.footer .f_top .logo {width:100px;height:20px;background:url(../images/common/logo_white.svg) no-repeat 0 0 / cover;color:transparent}
.footer .f_top ul {display:flex;flex-direction:column;gap:24px}
.footer .f_top ul li a {position:relative;padding-right:20px;font-size:18px;font-weight:700;color:#fff;line-height:24px;letter-spacing:-.36px;}
.footer .f_top ul li a::after {content:'';position:absolute;top:50%;right:0;width:16px;height:16px;margin-top:-8px;background:url(../images/common/ico_blank_white.svg) no-repeat 0 0 / 100% 100%}
.footer .f_bottom {display:flex;flex-direction:column;gap:24px;margin-top:32px;padding-top:32px;border-top:1px solid #303741;}
.footer .f_bottom .terms {font-size:16px;font-weight:700;color:#fff;line-height:24px;letter-spacing: -.32px;}
.footer .f_bottom .copyright {font-size:14px;color:#A5AFC2;line-height:20px;}

/* intro */
.main_visual {height:calc(100vh - 64px)}
.main_visual .inner {position:relative;height:calc(100% - 64px);padding:0 50px}
.main_visual .center_cont {display:flex;flex-direction:column;align-items:center;gap:20px;position:absolute;top:55%;left:50%;z-index:10;transform:translate(-50%, -50%)}
.main_visual .ico {width:120px;height:120px;background:url(../images/common/ico_dark.svg) no-repeat 0 0 / 100% 100%;transform:scale(20)}
.lenis-stopped .main_visual .ico {pointer-events: none;}
.main_visual .tit_center {font-family: 'Paperlogy-7Bold';font-size:5vw;color:#fff;font-weight:700;letter-spacing: -1.08px;text-align:center;opacity:0;transition:opacity 1s 3.5s}
.main_visual .tit_center .cursor {position:absolute;left:96%;bottom:3px;font-size:5vw;color:#fff;opacity: 0;animation: blink 1s infinite step-start;}
.main_visual a {transition:all 1.5s 2s}
.main_visual a .tit {display:block;font-family: 'Paperlogy-7Bold';font-size: 4vw;font-weight:700;color:#fff;letter-spacing:-.32px}
.main_visual a .tit span {display:block;font-size:6vw}
.main_visual a .arrow {width:8vw;height:2vw;transform: scale(0);transition: transform .3s 3s}
.main_visual a.main01 {position:absolute;bottom:50%;left:65%;min-width:130px}
.main_visual a.main01 .arrow {position:absolute;top:50%;left:0;margin-top:-5px;background:url(../images/common/ico_arrow_left.svg) no-repeat 0 0 / cover}
.main_visual a.main02 {position:absolute;top:50%;right:65%;min-width:130px;text-align:right}
.main_visual a.main02 .arrow {position:absolute;top:50%;right:0;margin-top:-5px;background:url(../images/common/ico_arrow_right.svg) no-repeat 0 0 / cover}
.main_visual .scroll_down {overflow:hidden;position:absolute;bottom:-64px;left:50%;transform: translateX(-50%);opacity: 0;}
.main_visual .scroll_down .scroll_txt {font-family: 'Paperlogy-7Bold';font-size:18px;font-weight:700;color:#fff;line-height:24px;letter-spacing:-1px;}
.main_visual .scroll_down .scroll_bar {display:block;position:relative;width:2px;height:60px;margin:10px auto 0;background:#2E3137}
.main_visual .scroll_down .scroll_bar::before {content:'';position:absolute;top:0;left:0;width:100%;height:100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);background-position: 0 -60px;background-size: 100% 200%;animation: scrolldown 3s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;}
body.loaded .main_visual .scroll_down {opacity:1;transition:opacity 1s linear 2s}

@keyframes scrolldown {
  0%{background-position: 0 -60px}
  75% {background-position: 0 0}
  100%{background-position: 0 60px}
}

@keyframes blink {
  50% {opacity: 1;}
  100% {opacity: 0;}
}
body.loaded .center_cont {top:50%;transition:top 1s 2s}
body.loaded .ico {transform:scale(1);transition:transform 1s}
body.loaded .main_visual .tit_center {opacity:1}
body.loaded .main_visual a.main01 {bottom:76%;left:4vw;padding-left:10%}
body.loaded .main_visual a.main02 {top:76%;right:4vw;padding-right:10%}
body.loaded .main_visual a .arrow {transform: scale(1);}

.main_page .tit_wrap .tit_depth2 {font-family: 'Paperlogy-7Bold';font-size:32px;font-weight:700;color:#fff;line-height:40px}
.main_page .tit_wrap .desc {margin-top:12px;font-size:14px;color:#fff;line-height:20px;}
.main_page .con_wrap {margin-top:40px}
.main_page .btn_wrap {position:absolute;bottom:0;left:50%;z-index:10;transform:translateX(-50%)}
.main_page .btn_wrap .btn_view_all {display:block;padding:10px 32px;border-radius:32px;background:#2E3137;font-size:14px;font-weight:700;color:#fff;line-height: 20px;}
.main_page section:not(.main_visual) {margin-top:120px}

.ownr_intro .inner {padding:0 4vw}
.ownr_intro ul {display:flex;flex-direction:column;gap:2vw}
.ownr_intro ul li a {display:block;position:relative;z-index:10;min-height:140px;padding:24px}
.ownr_intro ul li a::after {content:'';position:absolute;top:0;right:0;z-index:-2;width:100%;height:100%;background-image:linear-gradient(to left, #212125, #212125);transition:.8s}
.ownr_intro ul li a.bg_on::after {opacity: 0;transition:.5s}
.ownr_intro ul li a::before {content:'';position:absolute;top:0;right:0;z-index:-2;width:100%;height:100%;}
.ownr_intro ul li.bg1 a::before {background-image:linear-gradient(161deg, #BC33BF 5.78%, #5040D6 95.54%)}
.ownr_intro ul li.bg2 a::before {background-image:linear-gradient(161deg, #D20056 5.78%, #232143 95.54%)}
.ownr_intro ul li.bg3 a::before {background-image:linear-gradient(161deg, #16A644 5.78%, #287EB1 95.54%)}
.ownr_intro ul li strong {font-size:18px;color:#fff;line-height:24px;letter-spacing:-1.08px}
.ownr_intro ul li p {margin-top:12px;font-size:14px;color:#fff;line-height:20px;word-break: keep-all;}
.ownr_intro ul li i {position:absolute;top:0;right:0;z-index:-1;width:43.75%;height:100%;background-repeat:no-repeat;background-position:right center;background-size:contain;transition:.8s}
.ownr_intro ul li.bg1 i {background-image:url(../images/common/intro_bg1.svg)}
.ownr_intro ul li.bg2 i {background-image:url(../images/common/intro_bg2.svg)}
.ownr_intro ul li.bg3 i {background-image:url(../images/common/intro_bg3.svg)}
.ownr_intro ul li.bg1 a.bg_on i {background-image:url(../images/common/intro_bg1_hover.svg)}
.ownr_intro ul li.bg2 a.bg_on i {background-image:url(../images/common/intro_bg2_hover.svg)}
.ownr_intro ul li.bg3 a.bg_on i {background-image:url(../images/common/intro_bg3_hover.svg)}

.ownr_banner .inner {padding:0 4vw}
.ownr_banner .img_box {display:flex;flex-direction: column;gap:2vw}
.ownr_banner .img_box a {display:block}
.ownr_banner .img_box a img {width:100%}

.ownr_card_news {position:relative}
.ownr_card_news .inner {overflow:hidden;padding:0 4vw}
.ownr_card_news .swiper_btn_wrap {display:none}
.ownr_card_news .swiper {margin:0 -4vw;padding:0 4vw}
.ownr_card_news .swiper .swiper-wrapper {padding-bottom:80px}
.ownr_card_news .swiper .swiper-slide {position:relative;margin-right:1.5vw;background:#212125}
.ownr_card_news .swiper .swiper-slide:last-child {margin-right:0}
.ownr_card_news .swiper .swiper-slide img {position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;}
.ownr_card_news.is_mobile .swiper .swiper-slide {width:240px !important;padding-top:240px}

.ownr_news {position:relative}
.ownr_news .inner {padding:0 4vw}
.ownr_news ul {display:grid;grid-template-rows:2fr 1fr;gap:2vw;padding-bottom:80px}
.ownr_news ul li:first-child {grid-column:1 / 3}
.ownr_news ul li {position:relative;padding-top:100%;background:#212125}
.ownr_news ul li a {position:absolute;top:0;left:0;width:100%;height:100%}

/* main */
.main_comm {overflow:hidden;position:absolute;top:0;width:0}
.main_comm.active {overflow:visible;width:100%;}
.main_comm .top_area {position:relative;height:calc(100vh - 64px);}
.main_comm .top_area .flex_box {display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;padding:0 20px}
.main_comm .top_area .flex_box .tit {text-align: center;}
.main_comm .top_area .flex_box .tit p {margin-bottom:4px;font-family: 'Paperlogy-7Bold';font-size:clamp(2rem, 1.185rem + 3.62vw, 3.5rem);font-weight:700;}
.main_comm .top_area .flex_box .tit .mr {margin-right:4px}
.main_comm .top_area .flex_box .tit .highlight {display:inline-flex;align-items:center;justify-content:center;padding:0 8px;}
.main_comm .top_area .flex_box .desc {margin-top:40px}
.main_comm .top_area .flex_box .desc p {text-align: center;word-break: keep-all;}
.main_comm .top_area .flex_box .desc p .br {display:block}
.main_comm .top_area .moving {display:none;position:fixed;}
.main_comm.active .top_area .moving {display:block}
.main_comm .top_area .moving button {background:transparent;font-size:12px;font-weight:700;line-height:14px;letter-spacing:-.72px;}
.main_comm .top_area .moving button::after {content:'';position:absolute;top:50%;width:24px;height:24px;margin-top:-12px}

.main_left {left:-100%;transition:left 1s}
.main_left.active {left:0;}
.main_left .top_area .flex_box .tit {color:#fff}
.main_left .top_area .flex_box .tit .highlight {background:#00FF00;color:#0C0C0F}
.main_left .top_area .flex_box .tit .highlight i {width:4em;height:1em;background:url(../images/common/logo_black.svg) no-repeat 50% 50% / contain}
.main_left .top_area .flex_box .desc {padding:0 40px}
.main_left .top_area .flex_box .desc p {color:#A5AFC2;}
.main_left .top_area .moving {bottom:40px;right:0}
.main_left .top_area .moving button {padding:10px 27px 10px 3px;color:#fff}
.main_left .top_area .moving button::after {right:0;background:url(../images/common/ico_right_white.svg) no-repeat 0 0 / 100% 100%}

.main_right {right:-100%;transition:right 1s}
.main_right.active {right:0}
.main_right .top_area .flex_box .tit {color:#0C0C0F}
.main_right .top_area .flex_box .tit .highlight {background:#00FF00;color:#fff}
.main_right .top_area .flex_box .desc p {color:#2D313A}
.main_right .top_area .moving {bottom:40px;left:0}
.main_right .top_area .moving button {padding:10px 3px 10px 27px;color:#0C0C0F}
.main_right .top_area .moving button::after {left:0;background:url(../images/common/ico_left_black.svg) no-repeat 0 0 / 100% 100%}

.fixed_link {position:fixed;bottom:-100px;left:50%;z-index:100;transform:translateX(-50%)}
.fixed_link a {position:relative;padding:6px 38px 6px 24px;background:#E8ECF5;border:1px solid #BBC4D8;border-radius:50px;font-weight:600;color:#0C0C0F;line-height:20px;transition:all .4s}
.fixed_link a::after {content:'';position:absolute;top:50%;right:6px;width:22px;height:22px;margin-top:-11px;background:url(../images/common/ico_link_black.svg) no-repeat 0 0 / 100% 100%}
.bg_black .fixed_link a {background:#2E3137;border:1px solid #687183;color:#fff}
.bg_black .fixed_link a::after {background:url(../images/common/ico_link_white.svg) no-repeat 0 0 / 100% 100%}

body.loaded .fixed_link {bottom:47px;transition:bottom .4s linear 1.4s}

/* popup */
.dim {position:fixed;top:0;left:0;z-index:1001;width:100%;height:100%;background:rgba(0,0,0,.5)}
.layer_popup {display:none;position:fixed;top:0;left:0;z-index:1000;width:100%;height:100%;animation: layer_play_none 1s ease-in-out forwards;}
.layer_popup.show {display:block;animation: layer_play_show .2s ease-out forwards;}
.layer_wrap {position:relative;z-index:1002;height:100%;background:#000}
.layer_wrap img {width:100%}
.layer_wrap .btn_layer_close {position:absolute;top:0;right:0;width:60px;height:60px;font-size:0;line-height:0;background:url(../images/common/test.svg) no-repeat 0 0 / 100%}
.layer_popup .btn_pop_wrap {display:flex;justify-content:space-between;padding:16px 20px;background:#fff}
.layer_popup .btn_pop_wrap button {font-size:16px;line-height:24px}
.layer_popup .btn_pop_wrap .today_close {position:relative;padding-left:23px}
.layer_popup .btn_pop_wrap .today_close::before {content:'';position:absolute;top:50%;left:0;width:15px;height:12px;margin-top:-6px;background:url(../images/common/btn_pop_today_close.svg) no-repeat 0 0 / 100% 100%}

@keyframes layer_play_none {
  0% {display:block; opacity: 1;}
  90% {display:block; opacity: .1; }
  100% {display:none; opacity: 0; }
}
@keyframes layer_play_show {
  0% {display:block; opacity: 0;}
  90% {display:block; opacity: .9; }
  100% {display:block; opacity: 1; }
}

.alert_popup .layer_wrap {position:fixed;top:50%;left:50%;width:100%;max-width:400px;height:auto;padding:20px;transform:translate(-50%,-50%);box-sizing:border-box;background:transparent}
.bottom_popup {top:auto;bottom:0;height:auto}
.bottom_popup .layer_wrap {overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:auto;border-top-left-radius: 16px;border-top-right-radius: 16px;}

@media screen and (min-width:800px) {
/* main */
.main_page .tit_wrap {position:relative}
.main_page .btn_wrap {position:absolute;bottom:0;right:0;left:auto;transform:none}
.main_visual a.main01{left:15vw;bottom:auto;top:50%;transform:translateY(-50%)}
.main_visual a.main02{right:15vw;top:50%;transform:translateY(-50%)}
.main_visual a .tit {font-size:2vw}
.main_visual a .tit span {font-size:4vw}
.main_visual .tit_center {font-size:min(3vw, 48px);opacity: 0;}
.main_visual .tit_center .cursor {font-size:min(3vw, 48px)}

body.loaded .main_visual a.main01 {bottom:auto;left:6vw}
body.loaded .main_visual a.main02 {top:50%;right:6vw}

.ownr_intro .inner {padding:0 6vw}
.ownr_banner .inner {padding:0 6vw}
.ownr_banner .img_box {flex-direction: row;gap:1.5vw}
.ownr_news .inner {padding:0 6vw}
.ownr_news ul {display:grid; grid-template-columns:2fr 1fr 1fr;grid-template-rows:none;padding-bottom:0}
.ownr_news ul li:first-child {grid-row: 1 / span 2;grid-column:auto}
.ownr_news ul li {padding-top:calc(76.14% - 1vw)}
.ownr_card_news .inner {padding:0 6vw}
.ownr_card_news .swiper .swiper-wrapper {padding-bottom:0}
.ownr_card_news .swiper .swiper-slide {padding-top:calc(100% / 3.2)}

/* popup */
.bottom_popup {left:auto;bottom:20px;right:20px;max-width:400px}
.bottom_popup .layer_wrap {border-radius: 16px}
}

@media screen and (min-width:1024px) {
/* common */
#dh_cursor {position: absolute;left: 0;top: 0;user-select: none;pointer-events: none;}
#dh_cursor .dh_cursor_circle {width: 30px;height: 30px;margin-top: -50%;margin-left: -50%;border-radius: 50%;background: url(../images/common/ico_dark.svg) no-repeat 0 0 / 100% 100%;transition:all .3s cubic-bezier(0.25, 1, 0.5, 1)}
#dh_cursor.image {z-index: 9998}
#dh_cursor.image .dh_cursor_circle {width:120px;height:120px;background:rgba(15, 236, 15, 0.80);}
#dh_cursor.image::after {content:'View';display:flex;justify-content:center;align-items:center;position:absolute;left:-50%;top:-50%;width:100%;height:100%;font-size:24px;font-weight:700;line-height:32px;}
.container {padding-top:100px}

/* header */
.header {height:100px}
.header .inner {padding:0 40px}
.header .logo {width:140px;height:100px;}
.header .logo a {background:url(../images/common/logo_white.svg) no-repeat 50% 50% / 140px 28px}
.header .nav {right:64px;height:100px;}
.header .nav .navbar li a {font-size:24px;line-height:32px;letter-spacing: -.48px;}

/* footer */
.footer {margin-top:160px}
.footer .f_top {flex-direction: row;justify-content: space-between;align-items: center;}
.footer .f_top .logo {width:140px;height:28px}
.footer .f_top ul {flex-direction: row;gap:40px}
.footer .f_top ul li a {font-size:20px;line-height:32px;}
.footer .f_bottom {flex-direction:row;justify-content: space-between;align-items: center;}
.footer .f_bottom .copyright {font-size:16px;line-height:24px;}

/* intro */
.main_visual .inner {height:calc(100% - 100px);margin:0 auto;padding:0}
.main_visual .center_cont {gap:40px}
.main_visual .ico {width:200px;height:200px;transform: translate(-50%, -50%) scale(28)}
.main_visual a span {font-size: clamp(2rem, 1.5rem + 1vw, 2.5rem);}
.main_visual .main01 {bottom:50%;transform: translateY(50%)}
.main_visual .main02 {top:50%;transform: translateY(-50%)}
body.loaded .ico {top:34%}

.main_page section:not(.main_visual) {margin-top:160px}
.main_page .tit_wrap .tit_depth2 {font-size:40px;line-height:56px;letter-spacing:-.4px;}
.main_page .tit_wrap .desc {font-size:24px;line-height:32px;letter-spacing:-.48px;}

.ownr_intro ul {flex-direction:row;gap:1.5vw}
.ownr_intro ul li {flex:1;overflow:hidden;position:relative;padding-top:calc(33.33% - 1vw)}
.ownr_intro ul li a {position:absolute;top:0;left:0;width:100%;height:100%;padding:32px}
.ownr_intro ul li a .txt_motion {position:absolute;top:77.77%;left:32px;right:32px;transition:top .8s}
.ownr_intro ul li strong {font-size:24px;line-height:32px;letter-spacing:-.24px;}
.ownr_intro ul li p {display:none;margin-top:18px;font-size:16px;line-height:24px;transition:.8s}
.ownr_intro ul li i {width:100%}
.ownr_intro ul li a.bg_on .txt_motion {top:32px}
.ownr_intro ul li a.bg_on p {display: block;}

.ownr_news ul {gap:1.5vw}

.ownr_card_news .con_wrap {margin-top:48px}
.ownr_card_news .btn_wrap {display:flex;gap:24px}
.ownr_card_news .swiper {overflow:visible}
.ownr_card_news .swiper .swiper-slide:nth-child(even) {margin-top:60px}
.ownr_card_news .swiper_btn_wrap {display:flex;gap:16px}
.ownr_card_news .swiper_btn_wrap .swiper-button-next {position:relative;top:0;left:0;right:0;width:40px;height:40px;margin-top:0;background:url(../images/common/btn_swiper_next.svg) no-repeat 0 0 / 100% 100%}
.ownr_card_news .swiper_btn_wrap .swiper-button-prev {position:relative;top:0;left:0;right:0;width:40px;height:40px;margin-top:0;background:url(../images/common/btn_swiper_prev.svg) no-repeat 0 0 / 100% 100%}
.ownr_card_news .swiper_btn_wrap .swiper-button-next::after,
.ownr_card_news .swiper_btn_wrap .swiper-button-prev::after {content:''}

/* main */
.main_comm .top_area {height:calc(100vh - 100px);}
.main_comm .top_area .flex_box .tit p {display:inline;font-size:clamp(3.5rem, 1.785rem + 2.68vw, 5rem);}
.main_comm .top_area .flex_box .tit p.block {display:block}
.main_comm .top_area .flex_box .tit .mr {margin-right:12px}
.main_comm .top_area .flex_box .tit .ml {margin-left:-4px}
.main_comm .top_area .flex_box .desc p {font-size:24px;line-height:32px;letter-spacing:-.48px;}
.main_comm .top_area .moving button {font-size:13px;color:#0C0C0F;line-height:16px;}
.main_comm .top_area .moving button::after {width:60px;height:60px;margin-top:-30px}
.main_comm .top_area .moving button::before {content:'';position:absolute;top:-8px;z-index:-1;width:62px;height:80px;}

.main_left .top_area .flex_box .tit .highlight i {width:4em;height:.8em}
.main_left .top_area .moving {bottom:auto;top:50%;right:60px;transform: translateY(-50%);}
.main_left .top_area .moving button {padding-right:68px}
.main_left .top_area .moving button::before {left:-5px;background:url(../images/common/ico_dark.svg) no-repeat 0 0 / 100% 100%}

.main_right .top_area .moving {bottom:auto;top:50%;left:60px;transform: translateY(-50%);}
.main_right .top_area .moving button {padding-left:68px}
.main_right .top_area .moving button::before {right:-11px;background:url(../images/common/ico_pale.svg) no-repeat 0 0 / 100% 100%;}

.fixed_link a {padding:18px 80px 18px 56px;font-size:24px;line-height:32px;letter-spacing: -.48px;}
.fixed_link a::after {right:12px;width:44px;height:44px;margin-top:-22px}
}

@media screen and (min-width:1600px) {
  .main_page section:not(.main_visual) {margin-top:240px}
  .main_visual a.main01 {left:24vw}
  .main_visual a.main02 {right:24vw}

  .ownr_intro ul li a {padding:60px}
  .ownr_intro ul li a .txt_motion {left:60px;right:60px;}
  .ownr_intro ul li a.bg_on .txt_motion {top:60px}
  .ownr_intro ul li strong {font-size:40px;line-height:56px;letter-spacing:-.4px;}
  .ownr_intro ul li p {margin-top:32px;font-size:24px;line-height:32px;letter-spacing:-.48px;}
  .ownr_card_news .swiper .swiper-slide {padding-top:calc(100% / 4.2)}
}

